doctype html
head
  // Required meta tags
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='Colorlib Templates')
  meta(name='author', content='Colorlib')
  meta(name='keywords', content='Colorlib Templates')
  // Title Page
  title Event Registration
  // Icons font CSS
  link(href='vendor/mdi-font/css/material-design-iconic-font.min.css', rel='stylesheet', media='all')
  link(href='vendor/font-awesome-4.7/css/font-awesome.min.css', rel='stylesheet', media='all')
  // Font special for pages
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i', rel='stylesheet')
  // Vendor CSS
  link(href='vendor/select2/select2.min.css', rel='stylesheet', media='all')
  link(href='vendor/datepicker/daterangepicker.css', rel='stylesheet', media='all')
  // Main CSS
  link(href='/event/css/main.css', rel='stylesheet', media='all')
.page-wrapper.bg-gra-03.p-t-45.p-b-50(style='')
  .wrapper.wrapper--w790
    .card.card-5
      .card-heading
        h2.title Event Registration Form
      .card-body
        form(method='POST', action='/event')
          .form-row.m-b-55
            .name Name
            .value
              .row.row-space
                .col-2
                  .input-group-desc
                    input.input--style-5(type='text', name='first_name', placeholder='John')
                    label.label--desc first name
                .col-2
                  .input-group-desc
                    input.input--style-5(type='text', name='last_name', placeholder='Doe')
                    label.label--desc last name
          .form-row
            .name Email
            .value
              .input-group
                input.input--style-5(type='email', name='email', placeholder='johndoe@gmail.com')
          .form-row.m-b-55
            .name Phone
            .value
              .row.row-refine
                .col-3
                  .input-group-desc
                    input.input--style-5(type='text', name='country', placeholder='+234', max='5')
                    label.label--desc Country Code
                .col-9
                  .input-group-desc
                    input.input--style-5(type='text', name='number', placeholder='8012345678')
                    label.label--desc Phone Number
          .form-row
            .name Interest
            .value
              .input-group
                .rs-select2.js-select-simple.select--no-search
                  select(name='subject')
                    option(disabled='disabled', selected='selected') Choose option 
                    option(value='Violin') Violin
                    option(value='Drums') Drums
                    option(value='Guitar') Guitar
                    option(value='Piano') Piano
                    option(value='Mixing and Mastering') Mixing and Mastering
                    option(value='Music Production') Music Production
                    //- option Subject 3
                  .select-dropdown
          .form-row
            .name Location
            .value
              .input-group
                .rs-select2.js-select-simple.select--no-search
                  select(name='location')
                    option(disabled='disabled', selected='selected') Choose option 
                    option(value='Yaba (April 4)') Yaba (April 4)
                    option(value='Ikorodu (May 16)') Ikorodu (May 16)
                    option(value='Berger (May 16)') Berger (May 16)
                    //- option Subject 3
                  .select-dropdown
          .form-row.p-t-20
            label.label.label--block Gender
            .p-t-15
              label.radio-container.m-r-55
                | Male
                input(type='radio', checked='checked', name='gender', value='Male')
                span.checkmark
              label.radio-container
                | Female
                input(type='radio', name='gender', value='Female')
                span.checkmark
          .form-row
            .name Objective for Learning
            .value
              .input-group
                textarea.input--style-5(type='text', name='objective', cols='42', style='border:none;outline:none;', placeholder='Why did you want to learning with us?')
          div
            button.btn.btn--radius-2.btn--red(type='submit') Register
// Jquery JS
script(src='vendor/jquery/jquery.min.js')
// Vendor JS
script(src='vendor/select2/select2.min.js')
script(src='vendor/datepicker/moment.min.js')
script(src='vendor/datepicker/daterangepicker.js')
// Main JS
script(src='js/global.js')
// This templates was made by Colorlib (https://colorlib.com)
// end document
