extends ./partial/header

block content
  // Welcome Area Start
  section.welcome-area
    .welcome-slides.owl-carousel
      // Single Welcome Slide
      .single-welcome-slide.bg-img.bg-overlay(style='background-image: url(/img/bg-img/1.jpg);')
        // Welcome Content
        .welcome-content.h-100
          .container.h-100
            .row.h-100.align-items-center.justify-content-center
              // Welcome Text
              .col-12.col-md-9.col-lg-6
                .welcome-text.text-center
                  h2(data-animation='fadeInUpBig', data-delay='100ms') Welcome to TONEBRAVE
                  h5(data-animation='fadeInUpBig', data-delay='400ms') call in for the recording of your songs, mixing and mastering at very affordble price. Our promotion onlinefor just a token
                  a.btn.razo-btn.btn-2(href='#', data-animation='fadeInUpBig', data-delay='700ms') Learn More&rarr;
      // Single Welcome Slide
      .single-welcome-slide.bg-img.bg-overlay(style='background-image: url(/img/bg-img/30.jpg);')
        // Welcome Content
        .welcome-content.h-100
          .container.h-100
            .row.h-100.align-items-center.justify-content-center
              // Welcome Text
              .col-12.col-md-10.col-lg-6
                .welcome-text.text-center
                  h2(data-animation='fadeInUp', data-delay='100ms') Brave Recods
                  h5(data-animation='fadeInUp', data-delay='400ms') ...happiness in every beat.
                  a.btn.razo-btn.btn-2(href='#', data-animation='fadeInUp', data-delay='700ms') Learn More&rarr;
      // Single Welcome Slide
      .single-welcome-slide.bg-img.bg-overlay(style='background-image: url(/img/bg-img/32.jpg);')
        // Welcome Content
        .welcome-content.h-100
          .container.h-100
            .row.h-100.align-items-center.justify-content-center
              // Welcome Text
              .col-12.col-md-10.col-lg-6
                .welcome-text.text-center
                  h2(data-animation='fadeInUp', data-delay='100ms') Brave Records
                  h5(data-animation='fadeInUp', data-delay='400ms') Online promotions are also open for al. Get your songs & tracks promotion online for just a token
                  a.btn.razo-btn.btn-2(href='#', data-animation='fadeInUp', data-delay='700ms') Learn More&rarr;
      // Single Welcome Slide
      //- .single-welcome-slide.bg-img.bg-overlay(style='background-image: url(/img/bg-img/33.jpg);')
      //-   // Welcome Content
      //-   .welcome-content.h-100
      //-     .container.h-100
      //-       .row.h-100.align-items-center.justify-content-center
      //-         // Welcome Text
      //-         .col-12.col-md-10.col-lg-6
      //-           .welcome-text.text-center
      //-             h2(data-animation='fadeInUp', data-delay='100ms') Designed For Music, Engineered to Last
      //-             h5(data-animation='fadeInUp', data-delay='400ms') 31st Dec - Night out party....Don&apos;t miss it
      //-             a.btn.razo-btn.btn-2(href='#', data-animation='fadeInUp', data-delay='700ms') Learn More&rarr;
  // Welcome Area End

  // Blog Area Start
  section.razo-blog-area.section-padding-80-0
    .container
      .row
        // Weekly News Area
        .col-12.col-md-8
          .weekly-news-area.mb-50
            // Section Heading
            .section-heading
              h2 Studio Update
            // Featured Post Area
            .featured-post-area.bg-img.bg-overlay.mb-30(style='background-image: url(img/bg-img/11.jpg);')
              // Post Overlay
              .post-overlay
                .post-meta
                  a(href='#')
                    i.fa.fa-comments-o(aria-hidden='true')
                    |  2.1k
                  a(href='#')
                    i.fa.fa-eye(aria-hidden='true')
                    |  3.6k
                a.post-title(href='single-blog.html') The light and music exposition hits los angeles in the fashion week
            .row
              // Single Post Area
              .col-12.col-md-6
                .razo-single-post.d-flex.mb-30
                  // Post Thumbnail
                  .post-thumbnail
                    a(href='single-blog.html')
                      img(src='img/bg-img/13.jpg', alt='')
                  // Post Content
                  .post-content
                    .post-meta
                      a(href='#')
                        i.fa.fa-comments-o(aria-hidden='true')
                        |  2.1k
                      a(href='#')
                        i.fa.fa-eye(aria-hidden='true')
                        |  3.6k
                    a.post-title(href='single-blog.html') Drug bust leads police to underground tunnel
              // Single Post Area
              .col-12.col-md-6
                .razo-single-post.d-flex.mb-30
                  // Post Thumbnail
                  .post-thumbnail
                    a(href='single-blog.html')
                      img(src='img/bg-img/14.jpg', alt='')
                  // Post Content
                  .post-content
                    .post-meta
                      a(href='#')
                        i.fa.fa-comments-o(aria-hidden='true')
                        |  2.1k
                      a(href='#')
                        i.fa.fa-eye(aria-hidden='true')
                        |  3.6k
                    a.post-title(href='single-blog.html') Hear abuse victims&apos; messages for the Pope
              // Single Post Area
              .col-12.col-md-6
                .razo-single-post.d-flex.mb-30
                  // Post Thumbnail
                  .post-thumbnail
                    a(href='single-blog.html')
                      img(src='img/bg-img/15.jpg', alt='')
                  // Post Content
                  .post-content
                    .post-meta
                      a(href='#')
                        i.fa.fa-comments-o(aria-hidden='true')
                        |  2.1k
                      a(href='#')
                        i.fa.fa-eye(aria-hidden='true')
                        |  3.6k
                    a.post-title(href='single-blog.html') New Mexico uspects&apos; attorneys file to have all
              // Single Post Area
              .col-12.col-md-6
                .razo-single-post.d-flex.mb-30
                  // Post Thumbnail
                  .post-thumbnail
                    a(href='single-blog.html')
                      img(src='img/bg-img/16.jpg', alt='')
                  // Post Content
                  .post-content
                    .post-meta
                      a(href='#')
                        i.fa.fa-comments-o(aria-hidden='true')
                        |  2.1k
                      a(href='#')
                        i.fa.fa-eye(aria-hidden='true')
                        |  3.6k
                    a.post-title(href='single-blog.html') Trump tweets false white supremacist talking
        // Trending News Area
        .col-12.col-md-4
          .trending-news-area.mb-50
            // Section Heading
            .section-heading
              h2 Music Of The Week
            // Featured Post Area
            .featured-post-area.small-featured-post.bg-img.bg-overlay.mb-30(style='background-image: url(img/bg-img/12.jpg);')
              // Post Overlay
              .post-overlay
                .post-meta
                  a(href='#')
                    i.fa.fa-comments-o(aria-hidden='true')
                    |  2.1k
                  a(href='#')
                    i.fa.fa-eye(aria-hidden='true')
                    |  3.6k
                a.post-title(href='single-blog.html') Hawaii braces for Hurricane Lane
            // Single Post Area
            .razo-single-post.d-flex.mb-30
              // Post Thumbnail
              .post-thumbnail
                a(href='single-blog.html')
                  img(src='img/bg-img/17.jpg', alt='')
              // Post Content
              .post-content
                .post-meta
                  a(href='#')
                    i.fa.fa-comments-o(aria-hidden='true')
                    |  2.1k
                  a(href='#')
                    i.fa.fa-eye(aria-hidden='true')
                    |  3.6k
                a.post-title(href='single-blog.html') Hurricane Lane brings 19 inches of rain
            // Single Post Area
            .razo-single-post.d-flex.mb-30
              // Post Thumbnail
              .post-thumbnail
                a(href='single-blog.html')
                  img(src='img/bg-img/18.jpg', alt='')
              // Post Content
              .post-content
                .post-meta
                  a(href='#')
                    i.fa.fa-comments-o(aria-hidden='true')
                    |  2.1k
                  a(href='#')
                    i.fa.fa-eye(aria-hidden='true')
                    |  3.6k
                a.post-title(href='single-blog.html') What these victims want the Pope to know
            // Single Post Area
            .razo-single-post.d-flex.mb-30
              // Post Thumbnail
              .post-thumbnail
                a(href='single-blog.html')
                  img(src='img/bg-img/19.jpg', alt='')
              // Post Content
              .post-content
                .post-meta
                  a(href='#')
                    i.fa.fa-comments-o(aria-hidden='true')
                    |  2.1k
                  a(href='#')
                    i.fa.fa-eye(aria-hidden='true')
                    |  3.6k
                a.post-title(href='single-blog.html') What happens if you don&apos;t have a will?
            // Single Post Area
            .razo-single-post.d-flex.mb-30
              // Post Thumbnail
              .post-thumbnail
                a(href='single-blog.html')
                  img(src='img/bg-img/20.jpg', alt='')
              // Post Content
              .post-content
                .post-meta
                  a(href='#')
                    i.fa.fa-comments-o(aria-hidden='true')
                    |  2.1k
                  a(href='#')
                    i.fa.fa-eye(aria-hidden='true')
                    |  3.6k
                a.post-title(href='single-blog.html') Giuliani: No reason for Trump impeachment
  // Blog Area End

  // Music Charts Area Start
  section.razo-music-charts-area.section-padding-80.bg-overlay.bg-img.jarallax(style='background-image: url(img/bg-img/31.jpg);')
    .container
      .row
        // Section Heading
        .col-sm-6
          .section-heading.white
            h2 Music Chart
        // Show All Button
        .col-sm-6
          .show-all-button.mb-50.text-right
            a.btn.show-all-btn(href='#') Show All Trending (Top 10)
      .row
        .col-12
          // Single Music Chart
          .single-music-chart.d-flex.align-items-center.justify-content-between.wow.fadeInUp(data-wow-delay='100ms')
            // Music Content
            .music-content.d-flex.align-items-center
              .sl-number
                h5 1.
              .music-thumb
                img(src='img/bg-img/25.jpg', alt='')
              .audio-player
                audio(preload='auto', controls='')
                  source(src='audio/dummy-audio.mp3')
              .music-title
                h5
                  | Way Back Home - 
                  span RadioDaily Show
            // Music Price
            .music-price
              a.btn.razo-btn.btn-2(href='#') $12.99
          // Single Music Chart
          .single-music-chart.d-flex.align-items-center.justify-content-between.wow.fadeInUp(data-wow-delay='300ms')
            // Music Content
            .music-content.d-flex.align-items-center
              .sl-number
                h5 2.
              .music-thumb
                img(src='img/bg-img/26.jpg', alt='')
              .audio-player
                audio(preload='auto', controls='')
                  source(src='audio/dummy-audio.mp3')
              .music-title
                h5
                  | Goodbye &amp; Good Riddance - 
                  span Juice World
            // Music Price
            .music-price
              a.btn.razo-btn.btn-2(href='#') $10.99
          // Single Music Chart
          .single-music-chart.d-flex.align-items-center.justify-content-between.wow.fadeInUp(data-wow-delay='500ms')
            // Music Content
            .music-content.d-flex.align-items-center
              .sl-number
                h5 3.
              .music-thumb
                img(src='img/bg-img/27.jpg', alt='')
              .audio-player
                audio(preload='auto', controls='')
                  source(src='audio/dummy-audio.mp3')
              .music-title
                h5
                  | The Greatest Showman - 
                  span Soundtrack
            // Music Price
            .music-price
              a.btn.razo-btn.btn-2(href='#') $10.99
          // Single Music Chart
          .single-music-chart.d-flex.align-items-center.justify-content-between.wow.fadeInUp(data-wow-delay='700ms')
            // Music Content
            .music-content.d-flex.align-items-center
              .sl-number
                h5 4.
              .music-thumb
                img(src='img/bg-img/28.jpg', alt='')
              .audio-player
                audio(preload='auto', controls='')
                  source(src='audio/dummy-audio.mp3')
              .music-title
                h5
                  | Mamma Mia! Here We Go Again - 
                  span Soundtrack
            // Music Price
            .music-price
              a.btn.razo-btn.btn-2(href='#') $10.99
          // Single Music Chart
          .single-music-chart.d-flex.align-items-center.justify-content-between.wow.fadeInUp(data-wow-delay='900ms')
            // Music Content
            .music-content.d-flex.align-items-center
              .sl-number
                h5 5.
              .music-thumb
                img(src='img/bg-img/29.jpg', alt='')
              .audio-player
                audio(preload='auto', controls='')
                  source(src='audio/dummy-audio.mp3')
              .music-title
                h5
                  | Pray For The Wicked - 
                  span Panic! At The Disco
            // Music Price
            .music-price
              a.btn.razo-btn.btn-2(href='#') $10.99
  // Music Charts Area End

  // Trending Video Area Start
  section.razo-trending-video-area.section-padding-80-0.mb-50
    .container
      .row
        // Section Heading
        .col-12
          .section-heading.text-center
            h2 Trending Video
      .row
        // Featured Trending Video
        .col-12
          .featured-trending-video.mb-30.wow.fadeInUp(data-wow-delay='100ms')
            iframe(src='https://www.youtube.com/embed/zRvhQ5Rf6-U', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        // Single Post Area
        .col-12.col-md-6.col-lg-4
          .razo-single-post.d-flex.mb-30.wow.fadeInUp(data-wow-delay='100ms')
            // Post Thumbnail
            .post-thumbnail
              a(href='single-blog.html')
                img(src='img/bg-img/2.jpg', alt='')
            // Post Content
            .post-content
              .post-meta
                a(href='#')
                  i.fa.fa-comments-o(aria-hidden='true')
                  |  2.1k
                a(href='#')
                  i.fa.fa-eye(aria-hidden='true')
                  |  3.6k
              a.post-title(href='single-blog.html') Epileptic boy&apos;s cannabis let through border
        // Single Post Area
        .col-12.col-md-6.col-lg-4
          .razo-single-post.d-flex.mb-30.wow.fadeInUp(data-wow-delay='300ms')
            // Post Thumbnail
            .post-thumbnail
              a(href='single-blog.html')
                img(src='img/bg-img/3.jpg', alt='')
            // Post Content
            .post-content
              .post-meta
                a(href='#')
                  i.fa.fa-comments-o(aria-hidden='true')
                  |  2.1k
                a(href='#')
                  i.fa.fa-eye(aria-hidden='true')
                  |  3.6k
              a.post-title(href='single-blog.html') Ben Affleck completes addic treatment
        // Single Post Area
        .col-12.col-md-6.col-lg-4
          .razo-single-post.d-flex.mb-30.wow.fadeInUp(data-wow-delay='500ms')
            // Post Thumbnail
            .post-thumbnail
              a(href='single-blog.html')
                img(src='img/bg-img/4.jpg', alt='')
            // Post Content
            .post-content
              .post-meta
                a(href='#')
                  i.fa.fa-comments-o(aria-hidden='true')
                  |  2.1k
                a(href='#')
                  i.fa.fa-eye(aria-hidden='true')
                  |  3.6k
              a.post-title(href='single-blog.html') Boaters have close call with humpback whale
        // Single Post Area
        .col-12.col-md-6.col-lg-4
          .razo-single-post.d-flex.mb-30.wow.fadeInUp(data-wow-delay='700ms')
            // Post Thumbnail
            .post-thumbnail
              a(href='single-blog.html')
                img(src='img/bg-img/5.jpg', alt='')
            // Post Content
            .post-content
              .post-meta
                a(href='#')
                  i.fa.fa-comments-o(aria-hidden='true')
                  |  2.1k
                a(href='#')
                  i.fa.fa-eye(aria-hidden='true')
                  |  3.6k
              a.post-title(href='single-blog.html') Suspect in Mollie Tibbetts&apos; killing gave false
        // Single Post Area
        .col-12.col-md-6.col-lg-4
          .razo-single-post.d-flex.mb-30.wow.fadeInUp(data-wow-delay='900ms')
            // Post Thumbnail
            .post-thumbnail
              a(href='single-blog.html')
                img(src='img/bg-img/6.jpg', alt='')
            // Post Content
            .post-content
              .post-meta
                a(href='#')
                  i.fa.fa-comments-o(aria-hidden='true')
                  |  2.1k
                a(href='#')
                  i.fa.fa-eye(aria-hidden='true')
                  |  3.6k
              a.post-title(href='single-blog.html') Some of Mollie Tibbetts&apos; family don&apos;t want
        // Single Post Area
        .col-12.col-md-6.col-lg-4
          .razo-single-post.d-flex.mb-30.wow.fadeInUp(data-wow-delay='1200ms')
            // Post Thumbnail
            .post-thumbnail
              a(href='single-blog.html')
                img(src='img/bg-img/7.jpg', alt='')
            // Post Content
            .post-content
              .post-meta
                a(href='#')
                  i.fa.fa-comments-o(aria-hidden='true')
                  |  2.1k
                a(href='#')
                  i.fa.fa-eye(aria-hidden='true')
                  |  3.6k
              a.post-title(href='single-blog.html') Trump: Impeach somebody who&apos;s done great job?
  // Trending Video Area End
  // App Download Area Start
  section.razo-app-download-area.section-padding-80-0.bg-img.bg-overlay.jarallax(style='background-image: url(img/bg-img/21.jpg);')
    .container
      .row.align-items-center
        // App Thumbnail
        .col-12.col-md-6
          .app-thumbnail.mb-80
            img(src='img/bg-img/mockup-iphone.png', alt='')
        // App Download Text
        .col-12.col-md-6
          .app-download-text.mb-80
            span Download app and Enjoy radio &amp; music
            h2 Radio Music
            p
              | Radio app plus is a app that lets you download videos and music from social network, Youtube, etc. You may also download and play the latest HD series and movies, and also watch free live television. This app is also available for Android and Ios.
            .app-download-btn
              a(href='#')
                img(src='img/core-img/google-play.png', alt='')
              a(href='#')
                img(src='img/core-img/app-store.png', alt='')
  // App Download Area End
  // Weekly Sehedule Area Start
  section.razo-weekly-schedule-area.section-padding-80
    .container
      .row
        .col-12
          .weekly-schedule-table.table-responsive
            // Section Heading
            .col-12
              .section-heading.text-center
                h2 Weekly Sehedule
            table.table.table-borderless
              thead
                tr
                  th(scope='col')
                    p Monday
                  th(scope='col')
                    p Tuesday
                  th(scope='col')
                    p Wednesday
                  th(scope='col')
                    p Thursday
                  th(scope='col')
                    p Friday
                  th(scope='col')
                    p Saturday
              tbody
                tr
                  th(scope='row')
                    p As BBC Radio 5 live
                    span 01:00 am - 02:30 am
                  td
                    h5 Andrew Peach Birthday Surprise!
                    span 13:00 pm - 16:00 pm
                  td
                    h5 As BBC Radio 5 live
                    span 23:00 pm - 02:00 am
                  td
                    h5 Berkshire Sport: Extra Time
                    span 01:00 am - 03:30 am
                  td
                    h5 As BBC Radio 5 live
                    span 01:00 am - 02:30 am
                  td
                tr
                  th(scope='row')
                    p Berkshire Sport: Extra Time
                    span 05:30 am - 06:30 am
                  td
                  td
                  td
                    h5 Tony Blackburn on BBC Radio
                    span 03:00 am - 05:00 am
                  td
                  td
                    h5 Stereo Underground
                    span 03:00 am - 05:00 am
                tr
                  th(scope='row')
                  td
                    h5 BBC Music Introducing in
                    span 10:00 am - 12:00 pm
                  td
                    h5 Stereo Underground
                    span 13:00 pm - 15:00 pm
                  td
                  td
                    h5 Sport on BBC Radio Berkshire
                    span 07:00 am - 09:30 am
                  td
                tr
                  th(scope='row')
                    p Andrew Peach Birthday Surprise!
                    span 13:00 pm - 16:00 pm
                  td
                  td
                    h5 BBC Music Introducing in
                    span 17:00 pm - 20:00 pm
                  td
                    h5 Andrew Peach Birthday Surprise!
                    span 13:00 pm - 16:00 pm
                  td
                  td
                    h5 Danyl Johnson and Natasha Watts
                    span 13:00 pm - 16:00 pm
  // Weekly Sehedule Area End
  // Latest News Area Start
  section.razo-latest-news-area.section-padding-80.bg-overlay.bg-img.jarallax(style='background-image: url(img/bg-img/32.jpg);')
    .container
      .row.align-items-end
        // Section Heading
        .col-sm-6
          .section-heading.white
            h2 Latest News
        // Show All Button
        .col-sm-6
          .show-all-button.mb-50.text-right
            a.btn.show-all-btn(href='#') Show All Blog
    // Razo Latest News Slide
    .razo-latest-news-slide.owl-carousel
      // Single Latest News Area
      .razo-single-latest-news-area.bg-overlay.bg-img(style='background-image: url(img/bg-img/22.jpg);')
        // Post Content
        .post-content
          a.post-title(href='#') The light and music exposition hits los angeles
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        // Post Date
        .post-date
          h2 24
          p March
        // Read More
        .read-more-btn
          a.btn(href='#')
            | Read More 
            i.fa.fa-angle-double-right(aria-hidden='true')
      // Single Latest News Area
      .razo-single-latest-news-area.bg-overlay.bg-img(style='background-image: url(img/bg-img/23.jpg);')
        // Post Content
        .post-content
          a.post-title(href='#') The light and music exposition hits los angeles
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        // Post Date
        .post-date
          h2 24
          p March
        // Read More
        .read-more-btn
          a.btn(href='#')
            | Read More 
            i.fa.fa-angle-double-right(aria-hidden='true')
      // Single Latest News Area
      .razo-single-latest-news-area.bg-overlay.bg-img(style='background-image: url(img/bg-img/24.jpg);')
        // Post Content
        .post-content
          a.post-title(href='#') The light and music exposition hits los angeles
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        // Post Date
        .post-date
          h2 24
          p March
        // Read More
        .read-more-btn
          a.btn(href='#')
            | Read More 
            i.fa.fa-angle-double-right(aria-hidden='true')
  // Latest News Area End




