extends ./partial/header

block content

    .container-fluid
        .d-flex.justify-content-center.h-100
            .card
                .card-header
                    h3.u-center.card-title Sign Up
                .card-body
                    form(action='/users/register' method='POST')
                        .input-group.form-group
                            .input-group-prepend
                                span.input-group-text
                                    i.fas.fa-address-card
                            input.form-control(type='text', placeholder='Full Name')
                        .input-group.form-group
                            .input-group-prepend
                                span.input-group-text
                                    i.fas.fa-envelope
                            input.form-control(type='text', placeholder='Email')
                        .input-group.form-group
                            .input-group-prepend
                                span.input-group-text
                                    i.fas.fa-user
                            input.form-control(type='text', placeholder='Username')
                        .input-group.form-group
                            .input-group-prepend
                                span.input-group-text
                                    i.fas.fa-key
                            input.form-control(type='password', placeholder='Password')
                        .input-group.form-group
                            .input-group-prepend
                                span.input-group-text
                                    i.fas.fa-check-circle
                            input.form-control(type='password', placeholder=' Confirm Password')
                        //
                            <div class="row align-items-center remember">
                            <input type="checkbox">Remember Me
                            </div>
                        .form-group
                            input.form-control.btn.float-right.btn-primary-1(type='submit', value='Register')
                .card-header.card-footer
                    .d-flex.justify-content-center.links
                        | Already have an Account?   
                        a(href='#')  Login
                    //
                        <div class="d-flex justify-content-center">
                        <a href="#">Forgot your password?</a>
                        </div>
