extends ./partial/about

block content

    main#main
        //
            ==========================
            About Us Section
            ============================
        section#about
            .container
                header.section-header
                    h3 Tonebrave College
                    p
                        | <b>Tonebrave</b> is the preeminent institute of contemporary music an performing arts and also sound engineering offering diploma and certificate programs at its centers and through the online classes we are committed to train and develop the creative and career potential of the world’s most inspired artists, through whom our commitment to arts education is seen at Tonebrave college, students explore interdisciplinary approaches to music, dance and sound engineer.
                        //-         .row.about-cols
                        //-             .col-md-4.wow.fadeInUp
                        //-                 .about-col
                        //-                     .img
                        //-                         img.img-fluid(src='img/about-mission.jpg', alt='')
                        //-                     .icon
                        //-                         i.ion-ios-speedometer-outline
                        //-                     h2.title
                        //-                         a(href='#') Our Mission
                        //-                     p
                        //-                         | Ensuring that every Artist creation is at optimum quality through the straining and the production of our sounds.
                        //-             .col-md-4.wow.fadeInUp(data-wow-delay='0.1s')
                        //-                 .about-col
                        //-                     .img
                        //-                         img.img-fluid(src='img/about-plan.jpg', alt='')
                        //-                     .icon
                        //-                         i.ion-ios-list-outline
                        //-                     h2.title
                        //-                         a(href='#') Our Plan
                        //-                     p
                        //-                         | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quaerat eligendi dolor tempora fugiat natus corporis iure.
                        //-             .col-md-4.wow.fadeInUp(data-wow-delay='0.2s')
                        //-                 .about-col
                        //-                     .img
                        //-                         img.img-fluid(src='img/about-vision.jpg', alt='')
                        //-                     .icon
                        //-                         i.ion-ios-eye-outline
                        //-                     h2.title
                        //-                         a(href='#') Our Vision
                        //-                     p
                        //-                         | Impacting the world through the display of quality, in style, of our excellent arts in creative audio.
                        //- // #about
                .row
                    .col-lg-12.col-md-6.box.wow.bounceInUp(data-wow-duration='1.4s')
                        h2.title
                            a(href='/tonebrave-college') <b>Tonebrave College</b>
                        p.description
                            | This progrsm is strictly for student who wants to become basically music producer. The first three months of the course cover the rudiment of music, practical keyboard(Piano) training and also music business, while the last three months will expose you to production softwares, management and techniques , mixing and mastering and your final project of producing a song.
                        p.title
                            a(href='/tonebrave-college') <b>Content</b>
                        ul.description
                            li  Learning of Keyboard
                            li  Rudiments of Music
                            li  Learning production D.A.Ws to intermediate level 
                            li  Avid Pro Tools
                            li  Cubase
                            li  Propellerhead Reason
                            li  FL Studio
                            li  Mixing and Mastering