// Footer Area Start
footer.footer-area
  // Main Footer Area
  .main-footer-area.section-padding-80-0
    .container
      .row.justify-content-between
        // Single Footer Widget
        .col-12.col-sm-6.col-md-4.col-xl-3
          .single-footer-widget.mb-80
            // Footer Logo
            a.footer-logo(href='#')
              img(src='img/core-img/logo2.png', alt='')
            p.mb-30
              | Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            // Footer Content
            .footer-content
              // Single Contact Info
              .single-contact-info.d-flex
                .icon
                  i.icon_pin
                .text
                  p 24 No. Amazing Valley, Aewsome St. New York, USA
              // Single Contact Info
              .single-contact-info.d-flex
                .icon
                  i.icon_phone
                .text
                  p +11 123 4567890
              // Single Contact Info
              .single-contact-info.d-flex
                .icon
                  i.icon_mail_alt
                .text
                  p info.colorlib@gmail.com
        // Single Footer Widget
        .col-12.col-sm-6.col-md-4.col-xl-3
          .single-footer-widget.mb-80
            // Widget Title
            h4.widget-title Twitter Feed
            // Single Twitter Feed
            .single-twitter-feed.d-flex
              .tweet-icon
                i.fa.fa-twitter
              .tweet
                p
                  a(href='#') Kerem Suer
                  |  @kerem American conducts it first ever done strike Qaeda
            // Single Twitter Feed
            .single-twitter-feed.d-flex
              .tweet-icon
                i.fa.fa-twitter
              .tweet
                p
                  a(href='#') Axel Hervelle
                  |  @axel_hervelle Tens of thousands attend rallies held in D.C.
            // Single Twitter Feed
            .single-twitter-feed.d-flex
              .tweet-icon
                i.fa.fa-twitter
              .tweet
                p
                  a(href='#') Chris Pratt
                  |  @chris_pratt Hundreds of protesters shut down meeting.
        // Single Footer Widget
        .col-12.col-md-4.col-xl-3
          .single-footer-widget.mb-80
            // Widget Title
            h4.widget-title Instagram
            // Instagram Area
            .razo-instagram-area.d-flex.flex-wrap
              // Single Instagram Feed
              .single-instagram-feed
                a(href='#')
                  img(src='img/bg-img/2.jpg', alt='')
              // Single Instagram Feed
              .single-instagram-feed
                a(href='#')
                  img(src='img/bg-img/3.jpg', alt='')
              // Single Instagram Feed
              .single-instagram-feed
                a(href='#')
                  img(src='img/bg-img/4.jpg', alt='')
              // Single Instagram Feed
              .single-instagram-feed
                a(href='#')
                  img(src='img/bg-img/5.jpg', alt='')
              // Single Instagram Feed
              .single-instagram-feed
                a(href='#')
                  img(src='img/bg-img/6.jpg', alt='')
              // Single Instagram Feed
              .single-instagram-feed
                a(href='#')
                  img(src='img/bg-img/7.jpg', alt='')
              // Single Instagram Feed
              .single-instagram-feed
                a(href='#')
                  img(src='img/bg-img/8.jpg', alt='')
              // Single Instagram Feed
              .single-instagram-feed
                a(href='#')
                  img(src='img/bg-img/9.jpg', alt='')
              // Single Instagram Feed
              .single-instagram-feed
                a(href='#')
                  img(src='img/bg-img/10.jpg', alt='')
  // Main Footer Area End
  // Copywrite Text
  .copywrite-area
    .container
      .row
        .col-12
          // Copywrite Text
          .copywrite-text
            p
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright &copy;
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved | This template is made with 
              i.fa.fa-heart-o(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com', target='_blank') Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
// Footer Area End
// All JS Files
// jQuery
script(src='js/jquery.min.js')
// Popper
script(src='js/popper.min.js')
// Bootstrap
script(src='js/bootstrap.min.js')
// All Plugins
script(src='js/razo.bundle.js')
// Active
script(src='js/default-assets/active.js')
